[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauthlib = "*"
requests-oauthlib = "*"
requests = "*"
websockets = "*"

[dev-packages]
black = "*"
pip-tools = "*"

[requires]
python_version = "3.10"
