[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websockets = "*"
httpx = "*"
oauthlib = "*"
authlib = "*"
backoff = "*"

[dev-packages]
black = "*"
pip-tools = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
requests-mock = "*"

[requires]
python_version = "3.12"
